<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="main">
            <ion-icon name="home"></ion-icon>
            <ion-label>首 页</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="shop">
            <ion-icon name="cart"></ion-icon>
            <ion-label>商城</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="smart">
            <ion-icon name="cube"></ion-icon>
            <ion-label>智能</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="setting">
            <ion-icon name="contact"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>