<ion-content forceOverscroll="false">
    <div class="home-header" #homeHeaderContent>
        <ion-toolbar transparent style="height: 80px;">
            <ion-buttons slot="start">
                <ion-button color='medium'>
                    <ion-text class="username"> 波的家庭波的家庭</ion-text>
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="goedit()">
                    <ion-icon color="medium" name="add" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
    <ion-grid>
        <ion-row dragula="bag">
            <ion-col size="4" align-self-center>
                <div class="move">移动1</div>
            </ion-col>
            <ion-col size="4" align-self-center>
                <div class="move">移动2</div>
            </ion-col>
            <ion-col size="4" align-self-center>
                <div class="move">移动3</div>
            </ion-col>
            <ion-col size="4" align-self-center>
                <div class="move">移动4</div>
            </ion-col>
            <ion-col size="4" align-self-center>
                <div class="move">移动5</div>
            </ion-col>
            <ion-col size="4" align-self-center>
                <div class="move">移动6</div>
            </ion-col>
        </ion-row>


        <!-- <ion-row no-padding class="matrix">
            <ion-col size="6" class="q1">
                <div class="q-header">Do</div>
                <ion-list dragula="bag" [(dragulaModel)]="q1" lines="none">
                    <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
                        {{ item.value }}
                    </ion-item>
                </ion-list>
            </ion-col>

          
        </ion-row> -->
    </ion-grid>

    <ion-row class="delete-area" align-items-center justify-content-center>
        <ion-icon name="trash" color="medium"></ion-icon>
    </ion-row>

</ion-content>